@media screen and (max-width: 300px) {
    
}

.main-panel{
    background-color: aqua;
}

header{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.imp{
    font-weight: bolder;
    font-size: 35px;
}

.menu{
    
}

.tab1{
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.menu-but{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    width: 20%;
    border: 3px solid black;
    border-collapse: collapse;
}

.content{
    margin-top: 20px;
}

.cont_img{
    width: 50%;
    display: inline-block;
}

.text1{
    width: 49%;
    vertical-align: top;
    display: inline-block;
}

.contener{

}

.outdata{
    width:100%;
    display: block;
    font-weight: bold;
    
}

label{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    
}

.sub-com-but{
    display: block;
    font-weight: bold;
    border: 3px solid black;
}

.pushing:hover{
    border-color: red;
    background-color: white;
    color: red;
}